.container {
    width: 900px;
    margin: 0px auto;
    padding: 0;
    display: flex;
    background-color: slategrey;
}
* {
    background-color: slategrey;
}

.left, .middle, .right {
    height: 600px;
    width: 300px;
}
.left {
    background-color: green;
}

.middle {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle img {
    width: 100%;
    /* margin-top: 135px; */
}

.right {
    background-color: red;
}