<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <style>
        .container {
            width: 100vw;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        h1 {
            text-align: center;
        }

        /* boxes */
        .box {
            background-color: #9ec6f8;
            height: 100px;
            width: 100px;    
            margin-right: 15px;     
            margin-bottom: 10px;   
        }


    </style>
</head>
<body>
    <h1>Welcome!</h1>
    <div class="container">
        {% for i in range(0, x) %}
        <div class="box"></div>
        {% endfor %}
    </div>
</body>
</html>